<a href="https://colab.research.google.com/github/Birunthaban/FlightPricePrediction-ML/blob/main/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

In [2]:
url = "https://github.com/Birunthaban/FlightPricePrediction-ML/blob/main/Data_Train.xlsx?raw=true"
df= pd.read_excel(url)

In [3]:
df.head(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

# Splitting Data

## Shuffle the data

In [16]:
shuffled_df = shuffle(df, random_state=42)

In [17]:
shuffled_df.head(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2150,Jet Airways,06/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,08:15 07 Mar,24h 15m,1 stop,No info,17996
3784,SpiceJet,6/06/2019,Kolkata,Banglore,CCU → BLR,22:20,00:40 07 Jun,2h 20m,non-stop,No info,3873
714,IndiGo,18/03/2019,Kolkata,Banglore,CCU → BLR,05:30,08:20,2h 50m,non-stop,No info,4462
7558,Jet Airways,24/03/2019,Mumbai,Hyderabad,BOM → HYD,15:50,17:20,1h 30m,non-stop,In-flight meal not included,2228
7413,SpiceJet,27/04/2019,Banglore,Delhi,BLR → DEL,09:30,12:20,2h 50m,non-stop,No info,4991
6678,Multiple carriers,18/05/2019,Delhi,Cochin,DEL → BOM → COK,10:20,21:00,10h 40m,1 stop,No info,7670
3763,Multiple carriers,9/03/2019,Delhi,Cochin,DEL → BOM → COK,15:05,01:35 10 Mar,10h 30m,1 stop,In-flight meal not included,14086
10303,IndiGo,12/06/2019,Delhi,Cochin,DEL → BLR → COK,02:00,07:45,5h 45m,1 stop,No info,6386
10595,IndiGo,3/06/2019,Delhi,Cochin,DEL → BOM → COK,16:00,01:30 04 Jun,9h 30m,1 stop,No info,6628
10186,Air India,18/05/2019,Delhi,Cochin,DEL → COK,14:10,17:10,3h,non-stop,No info,6934

In [18]:
df= shuffled_df

In [24]:
X = df[['Airline','Date_of_Journey','Source','Destination','Route','Dep_Time','Arrival_Time','Duration','Total_Stops','Additional_Info']]
y = df['Price']

2150    17996
3784     3873
714      4462
7558     2228
7413     4991
        ...
5799     4823
5247     7832
5452     5073
861      6015
7367     3543
Name: Price, Length: 10462, dtype: int64

df = pd.DataFrame(data)

# Approach 1: Using Column Indexing
X = df[['feature1', 'feature2']]
y = df['label']

# Approach 2: Using iloc (Index-Based Selection)
X = df.iloc[:, :-1]  # Select all columns except the last one (label)
y = df.iloc[:, -1]   # Select the last column (label)

# Approach 3: Using loc (Label-Based Selection)
X = df.loc[:, ['feature1', 'feature2']]
y = df.loc[:, 'label']

# Approach 4: Using drop (Dropping Columns)
X = df.drop('label', axis=1)
y = df['label']

# Approach 5: Using pop (Extracting and Removing Column)
y = df.pop('label')  # 'label' column is extracted and removed from df
X = df

# Handle NULL / MISSING Values

In [5]:
df =df.dropna()

In [6]:
df.isnull()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
10678,False,False,False,False,False,False,False,False,False,False,False
10679,False,False,False,False,False,False,False,False,False,False,False
10680,False,False,False,False,False,False,False,False,False,False,False
10681,False,False,False,False,False,False,False,False,False,False,False
10682,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

# Check Duplicates

##### Duplicates can lead to bias in the model's training process. If certain records are duplicated more than others, the model might become biased towards the duplicated instances, potentially leading to overfitting. Overfitting occurs when a model learns noise in the data rather than the underlying patterns, resulting in poor generalization to new, unseen data.

In [8]:
df.duplicated().sum()

220

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.duplicated().sum()

0